.cardbar {
  width: 400px;
  height: 200px;
  margin-right: 40px;
}
.cardbar_logo {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 158px;
  background-color: white;
  border-radius: 130px;
  padding-left: 10px;
  padding-right: 10px;
}
.cardbar_logo img {
  width: min-content;
  margin: 0 auto;
}
.cardbar_desc {
  margin-top: -5px;
  border-top: 40px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 5px solid white;
  height: 0px;
  margin-left: 110px;
  width: 170px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
}
.cardbar_desc div {
  margin-top: -30px;
}
