.navigation {
  display: flex;
  justify-content: space-around;
  width: 1170px;
  height: 75px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: white;
}

.navigation_buttons {
  margin-top: 10px;
  text-align: left;
}
.navigation_button {
  background-color: white;
  outline: none;
  border: 0;
  margin-bottom: 17px;
  margin-right: 10px;
  color: #9e9d9d;
}

.navigation_button:hover {
  background-color: rgb(240, 237, 237);
  border-radius: 5px;
}
.navigation_button:focus {
  transform: none;
  border-bottom: 2px solid #e5e5e5;
  color: black;
}

.navigation_search {
  margin-top: 5px;
}

.navigation_search--location {
  margin-top: 3px;
  height: 35px;
  background-color: white;
  outline: none;
  border: 0;
  display: flex;
  justify-content: space-between;
}
.navigation_search--location:hover {
  background-color: #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 -8px 0 0 #e5e5e5;
}
.navigation_search--location p {
  margin-top: 5px;
  padding-left: 4px;
}
.navigation_menu {
  display: flex;
  text-align: center;
}

.navigation_menu--button {
  background-color: white;
  outline: none;
  border: 0;
  width: 50px;
  height: 50px;
}
.navigation_menu--button:hover {
  background-color: rgb(240, 237, 237);
  border-radius: 30px;
}
.navigation_menu--login {
  margin-top: 5px;
  margin-left: 5px;
  background-color: white;
  border-color: #00d36d;
  color: #00d36d;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
}
.navigation_menu--login:focus {
  outline: none;
  background-color: #00d36d;
  color: white;
  border-color: rgb(126, 126, 126);
}
